<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error et maxime modi ut eveniet labore voluptate inventore voluptates possimus! Nihil accusamus quibusdam dicta velit ea rem ullam modi, repellendus error?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error et maxime modi ut eveniet labore voluptate inventore voluptates possimus! Nihil accusamus quibusdam dicta velit ea rem ullam modi, repellendus error?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error et maxime modi ut eveniet labore voluptate inventore voluptates possimus! Nihil accusamus quibusdam dicta velit ea rem ullam modi, repellendus error?</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>